@model WebApplication2.Models.employer

@{

    ViewBag.Title = "Authorization";
}

<div class="content">

    <div class="content_note" style="height: 75vh">
        <h1>Вход в личный кабинет</h1>

       
        <form class="form" action="/Home/Authorization" method="post">
            @Html.AntiForgeryToken()
            <p>
                <label for="login_"><strong>Логин:</strong></label>
                @Html.EditorFor(model => model.login_)
            </p>

            <p>
                <label for="password_"><strong>Пароль: </strong></label>
                @Html.EditorFor(model => model.password_)
            </p>
            <input type='submit' value="Войти" />
        </form>
        

        <div style="position: absolute; left: 60%;  top: 15vh">
            <img src="/img/общее.png" alt="" height="600px">
        </div>
    </div>

</div>