@{

    ViewBag.Title = "Authorization";
}

<h1>Наша фирма</h1>
 
<p>Занимаемся пассажирскими перевозками в городе Киров и за его пределами.</p>
<img src="/img/троллейбус.jpg" alt="Alternate Text" height="600px" />